
/* Montando as variáveis de cor e fonte */
root{
    --cor1:#6667AB /*Very Peri (Roxo escuro)*/;
    --cor2:#EBCFA4 /* Bege */;
    --cor3:#8D8EEB /* Lilás */;
    --cor4:#E5EB75 /* Amarelo */;
    --cor5:#81BAEB /* Azul */;

    --gradiente1: linear-gradient(to right, #81BAEB, #8D8EEB); /* Gradiente Linear (to right) do Azul para o Lilás*/
    --gradiente2: linear-gradient(to right, #EBCFA4, #E5EB75); /* Gradiente Linear (to right) do Bege para o Amarelo */


    --fonte-destaque:'Courier New', Courier, monospace;
    --fonte-padrao:Arial, Helvetica, sans-serif;
    --fonte-decorativa:Arial;

}
