/* Montando as variáveis de cor e fonte */
root{
    /* Cores da paleta principal */
    --cor1:#6667AB; /*Very Peri (Roxo escuro)*/
    --cor2:#EBCFA4; /* Bege */
    --cor3:#8D8EEB; /* Lilás */
    --cor4:#E5EB75; /* Amarelo */
    --cor5:#81BAEB; /* Azul */

    /*Outras cores*/

    --cor6:#f6183c; /* Vermelho rosado*/
    --cor7:#b3b6b9; /* Cinza */
    --cor8:#e6e6e6; /* Branco acizentado */
    --cor9:#333b42; /* Preto usado no background */

    /* 
    --Gradientes

    background-image:linear-gradient(to right, #81BAEB, #8D8EEB);
    background-image:linear-gradient(to right, #EBCFA4, #E5EB75);
     */
    --fonte-destaque:'Courier New', Courier, monospace;
    --fonte-padrao:Arial, Helvetica, sans-serif;
    --fonte-decorativa:Arial;

}


/* Configs boostrap para nav e header */

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}

/* Personalizando */
#btn-cadastro {
    background-color:#8D8EEB;
    background-attachment:fixed;
}